*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background: rgb(255, 255, 255);
}
body a{
	color: white;
}
header{
	width: 100%;
}
.navegacion{
	width: 100%;
	background: #fff;
  box-shadow: 0px 12px 20px 10px rgba(0,0,0,0.24), 0px 5px 10px 0px rgba(0,0,0,0.19);
}
nav ul li{
	height: 60px;
}
.navegacion ul{
	list-style: none;
}
.menu > li{
	position: relative;
	display: inline-block;
}
.menu > li > a{
	display: block;
	padding: 15px 15px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}
.menu li a:hover{
	color: #000000;
	transition: all .3s;
}
nav ul li:hover{
  background-color:rgb(16, 150, 33);
}
nav ul li img{
  width: 70%;
  height: 70%;
	margin-left: 5px;
}
.user{
  float: right;
}
input[type="search"]{
  margin-left: 250px;
	margin-top: 17px;
	padding: 10px;
	padding-right: 35px;
  width: 800px;
	border-color: rgba(199, 199, 199, 0.5);
}
input[type="search"]:hover{
	border-color: rgb(18, 209, 66);
}
.buscar:hover{
  background: #fff;
}
/* Submenu*/
.submenu{
	position: absolute;
	background-color: rgb(55, 194, 57);
	width: 480%;
	height: 920%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}
.submenu li a{
	display: block
	padding: 15px;
	font-family: 'Open sans';
	text-decoration: none;
}
.submenu li a img{
	width: 30px;
	height: 30px;
}
.submenu li img{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
.dato-user{
	margin-top: 100px;
	color: white;
	font-weight: bolder;
}
#dato-user-2{
	margin-top: -30px;
}
.dato-user:hover{
	background-color: rgb(55, 194, 57);
}
#dato-user-2:hover{
	background-color: rgb(55, 194, 57);
}
.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
/* contenido */
.publicidad{
	width: 23.8%;
	height: 557px;
	background-color: rgb(255, 255, 255);
}
.contenido{
	width: 76.2%;
	height: 557px;
	margin-top: -557px;
	margin-left: 23.8%;
}
.contenido h1{
	text-align: center;
	font-family: sans-serif;
}
.contenido ul{
	list-style: none;
}
.contenido ul li{
	display: inline-block;
	width: 40%;
	height: 300px;
	margin-left: 80px;
	margin-top: 100px;
}
.contenido a{
	color: rgb(0, 0, 0);
	text-align: center;
	margin-top: 50px;
	font-weight: bold;
}
.contenido a img{
	width: 50%;
	height: 70%;
	border-radius: 50%;
	margin-left: 100px;
	margin-top: 20px;
}
@media screen and (max-width:360px){
	.navegacion{
		width: 100%;
		background: #fff;
	  box-shadow: 0px 12px 20px 10px rgba(0,0,0,0.24), 0px 5px 10px 0px rgba(0,0,0,0.19);
	}
	.navegacion ul{
		list-style: none;
	}
	.menu > li{
		position: relative;
		display: inline-block;
	}
	.menu > li > a{
		display: block;
		padding: 15px 15px;
		color: #353535;
		font-family: 'Open sans';
		text-decoration: none;
	}
	.menu li a:hover{
		color: #000000;
		transition: all .3s;
	}
	nav ul li:hover{
	  background-color:rgb(16, 150, 33);
	}
	nav ul li img{
	  width: 70%;
	  height: 70%;
		margin-left: 5px;
	}
			/* Submenu*/
	.submenu{
		position: absolute;
		background-color: rgb(55, 194, 57);
		width: 480%;
		height: 970%;
		visibility: hidden;
		opacity: 0;
		transition: opacity 1.5s;
	}
	.submenu li a{
		display: block
		padding: 15px 15px;
		font-family: 'Open sans';
		text-decoration: none;
	}
	.submenu li a img{
		width: 30px;
		height: 30px;
	}
	.submenu li img{
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
	}
	.publicidad{
	display: none;
	}
	.dato-user{
		margin-top: 100px;
		color: white;
		font-weight: bolder;
	}
	#dato-user-2{
		margin-top: -30px;
	}
	.dato-user:hover{
		background-color: rgb(55, 194, 57);
	}
	#dato-user-2:hover{
		background-color: rgb(55, 194, 57);
	}
	.menu li:hover .submenu{
		visibility: visible;
		opacity: 1;
	}
	.contenido{
		width: 100%;
		margin-top: 0px;
		margin-left: 0px;
	}
}
.contenido h1{
	text-align: center;
	font-family: sans-serif;
}
.contenido ul{
	list-style: none;
}
.contenido ul li{
	display: inline-block;
	width: 40%;
	height: 200px;
	margin-left: 20px;
	margin-top: 100px;
	background-color: rgb(40, 40, 40);
}
.contenido a{
	color: rgb(255, 255, 255);
	text-align: center;
	margin-top: 50px;
	font-weight: bold;
}
.contenido a img{
	width: 80%;
	height: 45%;
	border-radius: 50%;
	margin-left: 15px;
	margin-top: 20px;
}
/* TABLA */
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-uys7{border-color:inherit;text-align:center}
.tg .tg-7jts{font-size:18px;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}

}
